

body {
  background-color: black;
  color: white;
  text-align: center;
  background: black;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  font-family: verdana;
}

.hl {
  color: Aquamarine;
  font-size: 16px;
}
p {
  font-size: 21px;
  font-family: verdana;
  color: Gray;
}
